body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.img-fluid {
    width: 100%;
    height: auto;
}
/* NAVBAR SECTION */
#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
#navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navBtn {
    color: #fff;
    font-size: 23px;
    display: none;
}
#logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}
.nav-links {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-link {
    padding: 7px;
    margin: 5px;
}
/* SHOWCASE SECTION */
#showcase {
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('../img/bg-3.svg') no-repeat bottom center/cover;
}
#showcase img {
    position: relative;
    top: 60px;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.page-title {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 4rem;
    color: #fff;
}
.page-text {
    font-size: 17px;
    margin: 5px 0;
    color: #dcdcdc;
}
.cta {
    width: fit-content;
    background: #E91E63;
    padding: 11px;
    display: block;
    margin-left: auto;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.cta:hover {
    background: #db1658;
}
#sidebar {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 57, 136, 0.67);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
}
#sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#sidebar ul a, #close {
    color: #fff;
    font-size: 2rem;
    padding: 6px;
    margin: 16px;
    display: block;
}
#close {
    font-size: 4rem;
    position: fixed;
    right: 10px;
    top: -12px;
}
/* ABOUT SECTION */
#about, #projects, #valeur, #clients {
    padding: 70px 0;
}
.text {
    text-align: justify;
    font-size: 17px;
    line-height: 1.5;
    color: #424242;
}
.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    margin-top: 0;
    color: #333;
}
.card {
    text-align: center;
    background: #f1eaff;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    color: #513988;
    margin-bottom: 2rem;
    transition: all 0.3s ease-in-out;
}
.card:hover {
    background-color: #513988;
    color: #f1eaff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12);
}
.card:hover .icon {
    color: #f1eaff;
}
.card p {
    font-weight: bold;
}
/* PROJECTS SECTION */
#projects {
    background: #f9f6ff;
}
#projects .section-title {
    text-align: right;
}
.project{
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}
.project:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12);
    bottom: 10px;
}
.project-img {
    width: 100%;
    padding-top: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(0.9);
    transition: all 0.3s ease-in-out;
}
.project:hover .project-img {
    filter: brightness(1);
}
.project-body {
    background: #fff;
    padding: 1rem;
}
.project-title {
    color: #333;
    margin: 0;
}
.detail {
    font-size: 15px;
    margin-bottom: 0;
    color: #9c9c9c;
}
.tag {
    padding: 8px;
    background: rgba(0, 0, 0, 0.28);
    color: #fff;
    border-radius: 50px;
    font-size: 13px;
    border: 1px solid #fff;
    position: absolute;
    top: 6px;
    left: 5px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.project:hover .tag {
    opacity: 1;
}
/* VALEURS SECTION */
#valeur {
    position: relative;
}
#valeur::before {
    content: '';
    width: 50%;
    background: url('../img/valeur.png') no-repeat center center/cover;
}
.val-img {
    background: #f9f6ff;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #513988;
    transition: all 0.3s ease-in-out;
}
.val:hover .val-img {
    background: #513988;
    color: #f1f1f1;
}
.val h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.val p {
    font-size: 13px;
    line-height: 1.5;
}
/* CLIENTS SECTION */
#clients {
    background: #f9f6ff;
}
#clients h2 {
    text-align: center;
}
#clients .row .col-6 {
    position: relative;
    padding-top: 50px;
    margin: 10px 0;
}
img.client {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(0.9);
    transition: all 0.3s ease-in-out;
}
img.client:hover {
    filter: grayscale(0);
}
/* CONTACT SECTION */
#contact {
    padding: 70px 0;
    background-color: #513988;
}
#contact h2 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 3rem;
}
#contact form {
    display: flex;
    flex-direction: column;
}
#contact form input, #contact form textarea {
    padding: 14px 10px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    resize: vertical;
    background-color: #f1f1f1;
}
#contact form button {
    padding: 11px 10px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #E91E63;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.footer {
    text-align: center;
}
.footer h4 {
    color: #dfd1ff;
    margin: 10px 0;
    font-size: 19px;
}
.footer p {
    color: #fff;
    font-size: 14px;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #351e6b;
}
footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
footer ul a{
    color: #dfd1ff;
    font-size: 23px;
    padding: 5px;
    margin: 2px;
}

@media(max-width:770px){
    .nav-links {
        display: none;
    }
    #showcase {
        height: 75vh;
        background: #513988;
    }
    #showcase img {
        display: none;
    }
    #navBtn {
        display: block;
    }
    .center {
        text-align: center;
    }
    .cta {
        margin: auto;
    }
}
@media(max-width:375px){
    .section-title {
        font-size: 2.5rem;
    }
    #contact h2 {
        font-size: 1.5rem;
    }
}